<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">

    <div class="row">
        <div class="col">
            <input type="number" required name="amount" class="form-control bg-light border-0" placeholder="Montant" [ngModel]="item.amount">
        </div>
        <div class="col">
            <input type="text" required name="description" class="form-control bg-light border-0" placeholder="Description" [ngModel]="item.description">
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-outline-dark btn-lg btn-block" [disabled]="!itemForm.valid">Ajouter</button>
    </div>



</form>