<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">

    <div class="row">
        <div class="col">
            <input type="number" required name="amount" class="form-control bg-light border-0" placeholder="Montant" [ngModel]="item.amount">
        </div>
        <div class="col">
            <input type="text" required name="description" class="form-control bg-light border-0" placeholder="Description" [ngModel]="item.description">
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-lg btn-block" [ngClass]="{ 'btn-outline-success' : !isNewItem, 'btn-outline-dark' : isNewItem }" [disabled]="!itemForm.valid">
            <div *ngIf="isNewItem">Ajouter</div>
            <div *ngIf="!isNewItem">Sauvegarder</div>
        </button>
    </div>



</form>