.body {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);   
        }
    }

    .x-icon-button {
        position: absolute;
        top: -15px;
        right: -17px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: rgb(16, 19, 41);
        background-image: url('../../../assets/cancel.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;

        transition: opacity 0.2s ease-out, transform 0.2s ease-out;

        transform: scale(0);
        opacity: 0;

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: darken($color: #f8f9fa, $amount: 2%);
    }

    .description {
        display: flex;
        flex-grow: 1;
        margin-left: 5px;
        font-size: 20px;

        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.income {
    p {
        margin: 0;
        color: lighten(yellowgreen, 10%);
    }

    .amount {
        background-color: lighten(yellowgreen, 40%);
    }
}

.expenses {
    p {
        margin: 0;
        color:lighten(#dc3900, 15%);
    }

    .amount {
        background-color:lighten(#dc3900, 50%);
    }
}